
/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Lato');


body{
    box-sizing: border-box;
    background: #669999;
 
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;

    &__info{
        width: 75%;

        &--title{
            color: #DFFDFE;

            font-size: 40px;
            font-family: 'Lato', sans-serif;
            text-align: center;
            margin: 35px 0 35px 0;

            h2{
                display: flex;
                justify-content: center;
                letter-spacing: 1px;
            }

            span{
                background: #DFFDFE;
                border-radius: 3px;
                color: #669999;

                padding: 3px 5px;
                font-family: 'Pacifico', cursive;
                margin-left: 1px;
                
            }
        }

        &--text{
            font-size: 14px;
            margin: 10px 0 10px 0;
        }
        hr{
          border: 1px solid #EEEEEE;
          width: 100%;
        }

        &--dec{
            margin: 40px 0 90px 0;
            font-size: 14px;

            text-align: center;
        }

        @media only screen and (max-width: 600px) {
            &--dec{
                margin: 40px 0 90px 0;
                font-size: 14px;
                letter-spacing: 2px;
                line-height: 1;
            }
        }
    }

    &__wordscanner{

        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

        font-family: 'Lato', sans-serif;
        h1{
            font-size: 62px;
            color: #DFFDFE;
        }
        h3{
            font-size: 30px;
            color: #DFFDFE;

            margin: 50px 0 0 0;
        }
        p{
            border: 3px solid #334E4F;
            color : #334E4F;
            background: #669999;

            padding: 10px;

            font-size: 25px;

            border-radius: 0.29em;
            margin: 35px 0;

            &:hover{
                background: #334E4F;
                color : #669999;

                transition: 1s ease-out;
            }
        }
    }
    &__info--me{
        font-size: 18px;
        letter-spacing: 2px;
        text-align: center;

        color: #DFFDFE;
        margin-top: 50px;
    }
}
  







